

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= form_with model: @user do |form| %>
        <% if @user.errors.any? %>
          <div>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <% if @user.email == 'guest@example.com'%>
          <p>ゲストユーザーは名前の変更ができません。</p>
        <% else %>
          <div class="form-group">
            <%= form.label :username, "新しい名前" %><br>
            <%= form.text_field :username, autofocus: true, class: "form-control" %>
          </div>
          <div class="text-end" style="margin-top: 15px;">
            <%= form.submit "更新", class: "btn btn-primary" %>
          </div>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>