


 <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div class="container">
            <div>
              <h1 class="fw-light"><%= @user.username %>'s mypage</h1>
            </div>
          </div>  
        </div>
      </div>
  </section>




<div class="py-5 bg-light">
  <div class="container">
    <div class="text-end">
      <% if @user.id == current_user.id %>
        <%= link_to "名前を変更する", edit_user_path(@user), class:"btn btn-secondary btn-sm" %>
      <% end %>
    </div> 
    <div class="row">
      <% @user.posts.each do |post| %>
        <div class="col-md-4" style="margin: 20px 0;">
          <div class="card shadow-sm"> 
            <div class="card-body text-center">
                <h3>
                  <span><%= post.point_name %>・</span>
                  <span><%= post.size %>・</span>
                  <span><%= post.score %></span>
                </h3>  
                <h6>コメント</h6>
                <p><%= post.comment %></p>
              
              
              <% if user_signed_in? %>
              <h6>自分用メモ</h6>
                <% if post.status == "1" %>
                  <p><%= post.memo %></p>
                <% elsif post.status == "2" && post.user.id == current_user.id %>
                  <p><%= post.memo %></p>
                <% else %>
                  <p>非公開</p>
                <% end %>
              <% end %> 
          
          
          
          
              <small class="text-muted"><%= post.updated_at.strftime("%Y年-%m月-%d日") %></small>
              
              <span><%= link_to "詳細", post_path(post), class:"btn btn-outline-success btn-sm" %></span>
              <% if @user.id == current_user.id %>
                <span><%= link_to "編集", edit_post_path(post), class:"btn btn-outline-success btn-sm" %></span>
                <span><%= link_to "削除", post_path(post), class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm:'本当に削除しますか？'} %></span>
              <% end %>





            </div>
          </div>    
        </div>
      <% end %>  
    </div>
  </div>    
</div>
      
<%= paginate @posts %>